<!DOCTYPE html>
<html lang="da-DK">
<head>
  <meta charset="UTF-8">
  <title>{{title}}</title>
  <!-- Meta Content -->
  <meta name="description" content="Eksamensopgave i programmering.">
  <meta name="author" content="Daniel Lyck">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Styling -->
  <link rel="stylesheet" href="/stylesheets/style.css">
  <!-- jQuery CDN -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
  {{{body}}}
  <!-- Custom JavaScript -->
  <script src="/javascripts/CookieScript.js"></script>
</body>
</html>